@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset and app styles */
* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  overscroll-behavior: none;
  touch-action: pan-y;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
